#nav {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
.prompt {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-size: large;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: opacity 0.5s ease-out;
}

.prompt.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

table {
  padding: 3px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #04aa6d;
  color: white;
  height: 30px;
}

#main {
  display: flex;
}

#minusWordsList {
  padding: 3px;
  width: 33.33%;
  float: right;
}
#minusWordsList h2 {
  text-align: center;
}
#minusWordsList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#minusWordsList li {
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

#minusWordsList li:last-child {
  border-bottom: none;
}

.highlight {
  background-color: rgba(63, 216, 3, 0.39);
}

span:hover {
  background-color: rgba(241, 245, 12, 0.39);
}
